@use "./appColors" as *;

.snackBarContainer {
    position: fixed;
    bottom: 30px;
    padding: 12px 50px;
    right: 0px;
    transform: translateX(-50%);
    background-color: var(--on-primary-color);
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    z-index: 9999;
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    
    &.entering {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
        animation: snackbarEnter 0.3s forwards;
    }
    
    &.closing {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
}

@keyframes snackbarEnter {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}